h1{
    text-align: center;
}

#taskCreator, #tasksPlace{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

#taskCreator *{
    margin: 20px;
    height: 30px;
}

#date, #toggle-mode{
    width: 48%;
    margin: auto 0;
}

#toggle-mode{
    height: 34px;
}

#divi{
    display: flex;
    justify-content: space-between;
}